/* стили для index.html */
:root {
  /* main fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* text color */
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(255, 255, 255, 1);
  --hover-focus-color: rgba(33, 150, 243, 1);
  /* background color */
  --primary-background-color: rgba(255, 255, 255, 1);
  --secondary-background-color: rgba(33, 150, 243, 1);
  --hero-footer-background-color: rgba(47, 48, 58, 1);
  /* font size */
  --primary-font-size: 16px;
}

body {
  background-color: var(--primary-background-color);
  font-family: var(--main-font);
  color: var(--primary-text-color);
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
}

h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header-list {
  margin-right: 50px;
  min-width: 49px;
}
.nav {
  display: flex;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper {
  margin-left: auto;
}
.phone {
  margin-left: 50px;
}
.logo {
  margin-right: 93px;
}
.header-list:last-child {
  margin-right: 0;
}
.nav-list {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}
.nav-list,
.main-list,
.about-main-list,
.jobs-main-list,
.team-main-list,
.portfolio-list,
.portfolio-photos {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* header */

.logo-type {
  color: var(--primary-text-color);
}
.nav-link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.logo:hover,
.logo:focus,
.footer-logo,
.footer-logo,
.logo-type:hover,
.logo-type:focus,
.nav-link:hover,
.nav-link:focus,
.contacts:hover,
.contacts:focus,
.footer-phone:hover,
.footer-phone:focus,
/* .thumb-icons-list:hover, */
.footer-email:hover,
.footer-email:focus {
  color: var(--hover-focus-color);
}
.contacts {
  color: rgba(117, 117, 117, 1);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.logo,
.footer-logo {
  font-family: var(--secondary-font);
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* hero */

.hero {
  max-width: 1600px;
  /* margin: 0, auto; */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 92, 58, 0.4)),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--hero-footer-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  display: inline-block;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 696px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-order-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  max-width: 300px;
  font-family: inherit;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 700;
  line-height: 1.88;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-order-button:hover,
.hero-order-button:focus {
  color: rgba(24, 140, 232, 1);
}

/* main section 1*/

.visually-hidden {
  display: none;
}
.about {
  padding-top: 94px;
}
.about-list {
  min-width: 270px;
  margin-right: 30px;
}
.about-list:last-child {
  margin-right: 0;
}

.about-main-list {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.thumb {
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.thumb-icons {
  display: grid;
  justify-content: center;
}

.thumb-icons:hover {
  color: blue;
}

.advantages {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  display: flex;
  min-width: 270px;
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
  line-height: 1.5;
}

/* main section 2 */

.jobs {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.jobs-main-list {
  display: flex;
}
.jobs-list {
  display: flex;
  margin-right: 30px;
  align-items: center;
}

.we-do,
.our-team,
.clients-title {
  display: inline-block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* main section 3 */

.team {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: rgba(245, 244, 250, 1);
}
.team-main-list {
  padding-right: 0;
  display: flex;
}
.team-list {
  margin-right: 30px;
  margin-left: 0px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list:last-child {
  margin: 0;
}
.actor {
  padding-top: 30px;
}
.actors {
  font-weight: 500;
  line-height: 1.19;
}
.actors-roles {
  margin-top: 10px;
  margin-bottom: 16px;
  color: rgba(117, 117, 117, 1);
  font-weight: normal;
}
.actors-links {
  margin-top: 16px;
}
.actor-media {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 0;
  list-style: none;
}

.actor-media-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}
.actor-media-list:last-child {
  margin-right: 0;
}
.actor-media-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.actors-icons {
  fill: #afb1b8;
}
.actors-icons:hover,
.actors-icons:focus {
  fill: #fff;
}

.actor-media-list-icon:hover,
.actor-media-list-icon:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

/* .icon-button {
  border-radius: 50%;
  fill: #fff;
  border-color: #fff;
} */

/* .icon-button:hover,
.icon-button:focus {
  color: #2196f3;
} */

/* .actors-icons:last-child {
  margin: 0;
} */
/* .actors-icons:hover,
.actors-icons:focus {
} */

/* main section 4 */

.clients {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: rgba(245, 244, 250, 1);
}
.clients-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.clients-logo {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  list-style: none;
}
.clients-logo:last-child {
  margin: 0;
}

.clients-logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
}

.clients-logo-icon:hover,
.clients-logo-icon:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

/* footer */

.footer {
  /* display: flex; */
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-background-color);
  color: var(--secondary-text-color);
}
.footer-logo {
  display: flex;
}
.footer-email {
  display: flex;
  margin-top: 9px;
}
.footer-phone {
  display: inline-block;
  margin-top: 9px;
}
.footer-logo {
  margin-bottom: 20px;
  font-style: normal;
}
.footer-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}
.footer-logo-style {
  color: var(--secondary-text-color);
}
.footer-phone,
.footer-email {
  font-style: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.media-title {
  display: flex;
}

/* portfolio page*/

.main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.main-btn {
  min-width: 73px;
  max-width: 150px;
  background-color: rgba(245, 244, 250, 1);
  font-family: inherit;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
}
.portfolio-list-btn {
  padding-right: 8px;
}
.portfolio-list-btn:last-child {
  padding-right: 0;
}

.main-btn:hover,
.main-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-hero {
  display: none;
}

.portfolio-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-img {
  padding-right: 0;
  margin-bottom: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.portfolio-img:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-img:nth-child(3n) {
  margin-right: 0;
}
.portfolio-img:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-photos-img {
  display: flex;
}

.portfolio-frame {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: 0;
  padding-right: 24px;
  padding-left: 24px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: rgba(117, 117, 117, 1);
  line-height: 1.88;
}
